.field-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 5px;
    background: var(--primary-color);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.field-item:hover {
    background: var(--secondary-color-2);
}

.add-field,
.remove-field {
    padding: 0;
    font-size: 14px;
    cursor: pointer;
}

/* Red for minus button */
#fieldsToCheck .field-item .remove-field svg {
    border: 2px solid var(--text-body-color);
    border-radius: 100%;
    transition: background 0.3s ease, fill 0.3s ease;
}

#fieldsToCheck .field-item .remove-field svg path {
    fill: var(--text-body-color);
    transition: fill 0.3s ease;
    /* Red for minus button */
}

#fieldsToCheck .field-item .remove-field svg:hover {
    border: 2px solid var(--secondary-color);
    fill: var(--secondary-color);
    background: var(--secondary-color);
}

#fieldsToCheck .field-item .remove-field svg:hover path {
    fill: var(--primary-color);
}

/* Green for plus button */
#suggestedFields .field-item .add-field svg {
    border: 2px solid var(--text-body-color);
    border-radius: 100%;
    transition: background 0.3s ease, fill 0.3s ease;
}

#suggestedFields .field-item .add-field svg path {
    fill: var(--text-body-color);
    transition: fill 0.3s ease;
    /* Green for plus button */
}

#suggestedFields .field-item .add-field svg:hover {
    border: 2px solid var(--secondary-color);
    background: var(--secondary-color);
}

#suggestedFields .field-item .add-field svg:hover path {
    fill: var(--primary-color);
}